[2020-08-28 09:29] AakashKumarNain opened #12 "losses and metrics"
Are we looking to add `losses` and `metrics`? If yes, I can start working on it

[2020-08-28 09:39] david-berthelot commented on #12
Yes we are, basically the library part is meant to grow, which can be a good opportunity for the community to contribute.
While the core should be pretty much self-contained at this point but again it's minimal, we can add some stuff that's wanted.

[2020-08-28 09:47] AakashKumarNain commented on #12
Thanks. I will add some of the most commonly used metrics and losses for the start.

[2020-08-28 22:20] srush opened #14 "Naming Suggestions"
This library will likely be quite popular among those used to PyTorch in the research community, as there is a demand for a standard NN interface to jax. Already the module/optimizer design is very familiar to those who have used pytorch, and the developer clearly was inspired by this design structure.

However, there is one aspect that is challenging to understand. In PyTorch (and in Autodiff), v

[2020-08-28 23:37] AlexeyKurakin commented on #14
Thanks for your feedback.

Objax borrows inspiration from many frameworks: JAX, TF, PyTorch and Keras. Thus users may see some similarities between Objax API and APIs of other frameworks. But to be perfectly clear, Objax is not meant as a reimplementation of PyTorch on top of JAX. We (authors of Objax) decided to not import decisions from other frameworks directly into Objax. Instead we decided to

[2020-08-29 00:09] srush commented on #14
Okay, I understand this is your library, but let me make one more pitch.

Non-standard names make things much harder to learn for students. Everyone working on neural networks knows what a parameter is, and standardization is wonderful. If Objax is just PyTorch for jax, that is great! It doesn't have to be a new creative thing, I would use it in my class tomorrow. In fact that is exactly how it wa

[2020-08-29 00:09] #14 closed

[2020-08-29 00:23] david-berthelot commented on #14
But why not use PyTorch then, what's the value in porting it verbatim to JAX? The original is always better than the copy.

We wrote Objax because there are lot of things we saw missing in other frameworks, and for the things that were good we didn't reinvent the wheel just for the sake it either; we simply kept them. We thought hard about inheriting decisions we don't agree with from other framew

[2020-08-29 00:35] srush commented on #14
People love the pytorch API, it's super well run, standardized, and accessible. Students find it amazing to use. We teach all our courses in it.

But JAX is faster, optimized, and supports lots of interesting higher-order operations. But the APIs are a mess! We just need a great frontend to this library.

[2020-08-29 00:40] david-berthelot commented on #14
Thanks for the context, I understand better your suggestions now. Well one thing to keep in mind is to question whether you like a decision out of habit or because it makes sense. We asked ourselves this question a lot, esp. since we matured and refined Objax for 6 months while using it for our own research. We thought, even overthought, some decisions a lot. In the end, we have to do what we thin

[2020-08-29 11:50] Sharad24 opened #18 "Benchmarks"
Hi!

Great work all! It's really surprising that the core of the library is very readable yet so extensible.

I'm curious if there are any performance benchmarks for comparison with more popular frameworks?

[2020-08-29 16:44] david-berthelot commented on #18
Right now there isn't, I think all JAX frameworks sort of have the performance of JAX since when you JIT (which you do for performance) it's really a compiled program that runs (and the compilation is handled by JAX/XLA layers).

[2020-08-30 18:12] kovasb opened #23 "Multiple iterations per training loop step?"
Hi,

In TF TPU usage a common pattern is to train for multiple steps per train call, https://www.tensorflow.org/guide/tpu#improving_performance_by_multiple_steps_within_tffunction

I was wondering how we can achieve a similar patten with objax. Do we need a custom version of the Jit class?

Along these lines it might be helpful to expand the docs on how these types of things work. Looking at the c

[2020-08-31 03:23] AlexeyKurakin commented on #23
Hi,

For training on TPU, I would suggest you to look at https://github.com/google/objax/tree/master/examples/classify/img/imagenet which was initially written for TPU, but also works on multi-GPU system. In particular, take a look at `train_op` method and `self.train_op_parallel` attribute of `Experiment` class.

For TPU or multi-GPU system, one have to use `objax.Parallel` instead of `Jit` to pa

[2020-08-31 04:28] AlexeyKurakin commented on #23
So basically, if you're concerned about performance on TPU I would suggest to try existing examples with `objax.Parallel`. Likely performance will be satisfactory.

If you still need multiple training steps per single call of train op, we can consider adding such example later.

If you willing to contribute, feel free to add such example yourself. I suspect that adding regular `for` loop inside `t

[2020-08-31 04:34] AlexeyKurakin commented on #23
Also, I briefly looked at other JAX libraries (Haiku and Flax). Seems like all of them alway perform single training step per train_op.
I suspect that either multiple training steps are unnecessary (i.e. don't provide any performance gains) or there are some issues with feeding multiple batches of data into single call of train_op compared to Tensorflow.

[2020-09-06 15:29] NTT123 opened #28 "Error in cross_entropy_logits_sparse function"
https://github.com/google/objax/blob/2898232321b4a94378e49bb45143c969b25c2aa3/objax/functional/loss.py#L53

This line causes error with the following example:
[code]

Error trace
[code]

[2020-09-06 17:36] david-berthelot commented on #28
Yes, we could extend this API to support multi-dimensional (>=2) tensors.

[2020-09-06 21:35] rwightman opened #29 "Training state as a Module attribute"
As mentioned in a Twitter thread, I am curious about the decision to propagate `training` state through the `call()` chain. From my perspective this approach adds more boilperplate code, and more chance of making a mistake (not propagating the state to a few instances of a module with a BN or dropout layer, etc). If the state changed every call like the input data, it would make more sense to pass

[2020-09-07 00:13] rwightman opened #30 "Explicit padding mode"
It looks like objax currently limits padding to one of VALID or SAME. This prevents the ability to use explicit padding and would prevent compatibility with models from PyTorch, Gluon that only support explicit (symmetric) padding without adding extra Pad layers to the model.

It'd be nice to at minimum add the ability to support TF style explicit padding (specify both sides of every dim), the und

[2020-09-07 06:55] NTT123 commented on #28
Here is my proposed function:

[code]

Side note: after a few hours using objax, I think your ideas on Module and (Trainable & State)-Variable are brilliant!

[2020-09-07 08:07] AakashKumarNain commented on #29
Here are my thoughts on this one:

1. If we consider the current design, then going at `Module` level makes sense. You have a `trainable` attribute that can be toggled during `training/evaluation` phase. The good thing about this is that a `module` can recursively toggle the trainable attributes for each of the members/layers in this case. Clean and simple.

2. But the above design has a flaw(at l

[2020-09-07 16:42] rwightman commented on #29
@AakashKumarNain Not sure what the distinction betwen module and layer is? With the design here, and PyTorch, layers like Conv2D and BatchNorm, etc are Modules, so the granularity is quite fine. When you call `train()` or `eval()` method on the model level module (ie `ResNet50()) it recursively propagates to all children down to the individual Conv2D layers. One can override the methods on any sub

[2020-09-07 17:31] jli05 opened #31 "Could you outline how to write a simplest RNN Module?"
I'm looking for write a basic RNN that does f(Ax+b) at each time step.

What would be the best way to go about it? Could you outline some code to give an idea?

Can one apply JIT over the entire (unrolled) network for training/inference?

[2020-09-07 18:25] kihyuks commented on #31
Hi, would you take a look at our code example (https://github.com/google/objax/blob/master/examples/rnn/shakespeare.py) and see if this resolves your concern?

[2020-09-08 13:35] AakashKumarNain commented on #29
@rwightman Ohh I see. Not a PyTorch user so I thought of `Module` being different than `layer`. If that's the case, then we are on the same page, and I agree that `trainable` state should be at `Module` level in this case.

[2020-09-08 21:40] shs037 commented on #28
Your proposed function looks nice! Would you like to create a PR?

[2020-09-09 02:01] david-berthelot commented on #30
I like your proposal. If I understand correctly, in this new way of doing things a call to `tf.pad` would be added inside the code for `Conv2D` to handle more padding modes (like symmetric, reflect, constant padding)? And when not needed (zero-padding or valid) there would be no call to `tf.pad` (to keep performance optimized)? And the API change would also permits passing explicit padding interva

[2020-09-09 04:09] AlexeyKurakin commented on #29
Thanks for the feedback. We do want to get the best design ideas into Objax.

Below I’ll explain the rationale behind the current design decision. I’ll also provide some additional context for people who may be reading it later.

# Training / evaluation mode

Certain types of NN layers (like `BatchNorm` and `Dropout`) have different behavior in training and evaluation mode. For example, in trainin

[2020-09-09 06:40] rwightman commented on #30
@david-berthelot TLDR yes, I think the above proposal would work great despite confusion over my poor choice of the term 'symmetric'

Regarding 'symmetric', I wasn't actually thinking modes while trying to jot down the idea. My additional enum values were all ways of specifying the 'geometries' (or 'padding type'). I was proposing different alternatives dataclass w/ extended enum vs union as I was

[2020-09-09 06:40] AakashKumarNain commented on #29
@AlexeyKurakin thanks for the detailed feedback. I have just one question. In `Keras`, everything is a layer, even a `model` instance. Every layer has a `trainable` attribute. Also, a layer is a  callable object and also accepts `training` as an argument.

`training` is a boolean argument in call that determines whether the call should be run in inference mode or training mode. `trainable` is a bo

[2020-09-09 07:15] rwightman commented on #29
@AlexeyKurakin Indeed, thanks for the detailed explanation.

I do agree regarding safety/errors. I doubt anyone has dabbled in PyTorch without forgetting to toggle their model to eval mode before using it for prediction. I've certainly made the mistake. Now it's burnt into my brain's debugging checklist so it's not high on my priority list. On my first pass through this code I didn't note that the

[2020-09-09 19:18] #28 closed

[2020-09-09 20:17] AlexeyKurakin opened #37 "Easy support for per-module train/eval state"
This is tracking issue to improve support of per-module train/eval state in Objax.
This issue originates from discussion of PyTorch vs Objax-style of propagating training/eval mode https://github.com/google/objax/issues/29

PyTorch style allows easy way to specify per-module train/eval mode, like in the following example:
[code]

There is no clean way to achieve the same thing in Objax right now.

[2020-09-09 20:19] AlexeyKurakin commented on #29
So it seems like main feature request would be better support of per-module train/eval state.
I opened separate issue https://github.com/google/objax/issues/37 to track progress on design and implementation of per-module train/eval state.
I'm going to close this issue, since everything else seem to be addressed.
Feel free to reopen, if there are some other questions.

[2020-09-09 20:19] #29 closed

[2020-09-10 02:24] NTT123 commented on #31
@jli05, I would recommend you to look at `dm-haiku` recurrent module (note that the syntax is a bit difference):

https://github.com/deepmind/dm-haiku/blob/master/haiku/_src/recurrent.py

It includes `VanillaRNN` module, and the two important functions: `static_unroll, dynamic_unroll` that will help you to JIT the whole sequence in training.

You can also see how to unroll sampling process at http

[2020-09-10 12:27] #12 closed

[2020-09-10 23:51] AlexeyKurakin commented on #29
@AakashKumarNain regarding Keras trainable and training attributes.
I actually was unaware that in Keras setting `bath_norm_layer.trainable=False` will make it run in inference mode. Seems like this change was made only in TF2: https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/python/keras/layers/normalization_v2.py#L208-L247

While motivation for such behavior is understandable, it'

[2020-09-11 05:13] cgarciae commented on #29
Hey this issue was super useful, thanks for sharing your ideas. I've been reimplementing Elegy's module system a bit based on some of the ideas brought by Objax, after starting with a Haiku-based implementation I realized that being functional makes it way harder to do stuff like transfer learning or anything that involved mixing  preexisting (pretrained) Modules.

Regarding the `training` state I

[2020-09-11 19:26] jli05 commented on #31
Thanks. Yes the references helped.

The Shakespeare code trains slowly on MacBook CPU. It takes >5 minutes to train 10 epochs. I killed it before it ran to the end.

I also found one can pickle dump a jit-tered network but cannot pickle load it. Maybe jittered code was never intended for pickling.

[2020-09-13 23:41] kihyuks commented on #31
@aterzis-google Any help would be appreciated !

[2020-09-14 17:56] jli05 opened #40 "Naming of the `GradValues` function"
If I understand right, `GradValues` essentially does two things: computing gradients and computing model final values.

So why not split it into two functions? Or if we keep the current form, could we name it `GradAndValuesFn`? Just thinking this is a prominent function and want to keep it the easiest for people beginning to use the framework. An easy name as `fit()` and `predict()` made `scikit-l

[2020-09-14 21:07] AlexeyKurakin commented on #23
I found example of how to perform multiple training steps per one call to train function: https://github.com/mlperf/training_results_v0.7/blob/3dbb53064a6b79354c68a6832414b6536fee1a75/Google/benchmarks/resnet/implementations/resnet-research-JAX-tpu-v3-8192/train.py#L603

It seems like it require to manually maintain infeed queue and manually write on-device while_loop which all looks cumbersome.
G

[2020-09-15 16:46] AlexeyKurakin commented on #40
Yes, `GradValues` returns both gradient and value of the input function/module.

It's pretty much Objax wrapper for [jax.value_and_grad](https://jax.readthedocs.io/en/latest/jax.html#jax.value_and_grad) function. This is where naming comes from.

The reason why this module returns both gradient and value for following reasons:

1) To compute gradient, forward pass has to be performed. Thus value o

[2020-09-16 05:56] sathish-a opened #41 "AddOns"
Hi team, First, I'm excited about this project. I was recently playing with Objax and have implemented the learning rate finder and cyclic learning rate in my pet project. Just to know if we are looking to add it as a part of the library or just an example would be sufficient? And let me know if I can contribute anything so that I can work on it?

[2020-09-16 07:20] sathish-a commented on #40
@jli05 thanks for bringing up this. @AlexeyKurakin I've implemented the `Grad` by calling `GradValues` internally and returned only the gradients. I tested it with MNIST code in the examples just to check If I'm affecting any other flows and it worked fine. Now that I couldn't find any guidelines about what else to be added like (creating .rst, etc.) if a new module is introduced. Can you help me

[2020-09-16 10:58] jli05 commented on #40
Why the forward function valuation is "needed" for computing the gradients whilst mathematically it doesn't necessarily look so?

I wrote the question:

1. Engineering-wise, it seems better to split a function which does two things into two that does one each, so that we give choice, esp. the value part can already be given by `model(input)` thus may seem "redundant".

2. Imagine we teach AI to 2n

[2020-09-16 17:24] AlexeyKurakin commented on #40
@jli05
Most (or maybe all) of the modern deep learning libraries are using back-propagation algorithm to compute gradients. Back propagation need to computes forward pass (i.e. value of the function) to be able to compute gradient.

For example, let's say you have feed-forward neural network which is expressed as a complex function:

[code]

The gradient of this function is expressed as following:

[2020-09-16 17:35] AlexeyKurakin commented on #40
@sathish-a Thanks for volunteering to help implement `Grad` module.

You can add this module into [objax/gradient.py](https://github.com/google/objax/blob/master/objax/gradient.py). Follow existing code of `GradValues` as an example of how to add module.
Just make sure to add unit tests into [tests/gradient.py](https://github.com/google/objax/blob/master/tests/gradient.py).

Most of the documentat

[2020-09-16 17:50] AlexeyKurakin commented on #41
Thanks for the interest and willingness to contribute.

This sounds like fall into category of examples. Maybe into `examples/learning_rate` subdirectory.
We haven't thought about specific location for add-ons, but may add it in the future if there is interest.

Also, do you have any feedback regarding the current structure of `examples/`?

[2020-09-16 23:54] rwightman opened #42 "More control over var/module namespace."
I got my first 'hello world' model experiment working w/ Objax. I adapted my PyTorch EfficientNet impl. Overall pretty smooth, currently wrapping Conv2d so I can get the padding I want.

One thing that stuck out after inspecting the model, the var namespace is a mess. An aspect of modelling that I value highly is the ability to have sensible checkpoint/var maps to work with. I often end up dealing

[2020-09-16 23:55] rwightman commented on #42
[code]

[2020-09-16 23:57] rwightman commented on #42
PyTorch  (I have slightly re-orged the Objax version with head and stem extracted to their own modules...)
[code]

[2020-09-17 02:39] david-berthelot commented on #42
Right now it's hardcoded, I chose the current format to maximize the ease to debug.

It seems feasible to make it customizable, for example having some FORMAT string in the module, modulelist etc... It would be something like what we did for custom checkpoint naming: https://github.com/google/objax/blob/master/objax/io/checkpoint.py#L41

@AlexeyKurakin What do you think?

[2020-09-17 04:20] AlexeyKurakin commented on #42
@rwightman , you are right that class name is redundant and all sub-modules are uniquely identified by the name of the attribute.

Overall I think we can change the naming format for the variables.

@david-berthelot  my understanding is that there are several things asked, and we should decide which of them and how to implement. Here is a list:

1. Control on specific printing format for each modu

[2020-09-17 04:58] david-berthelot commented on #42
The way I see is that class name is very informative for people who didn't write the model. And I find it informative for myself too.

Consequently the only way to make everyone happy is to let the naming be customizable.

I don't think making the syntax sufficiently flexible is too much of a challenge, the core question is whether we want to do it.
Indeed, as you pointed out, saving and loading i

[2020-09-17 06:26] rwightman commented on #42
Something to point out wrt to having class names in the var names, it ties your checkpoints to the name of the classes. Deciding that I want to refactor and change the name of my model class or any other block/layer abstractions shouldn't change checkpoint compat if the layer definitions and attr names remain the same. This matters when you have many users of a framework, pretrained model zoos for

[2020-09-17 07:38] david-berthelot commented on #42
I sort of like to associate the variable name with class and attribute, since they typically don't change (like Conv2D.w for example). If one refactors something, there's a chance that it's not doing the same thing, so having matching names would lead to silent errors.

Also note, it's very easy to copy a VarCollection to a differently named model by doing `target.vars().assign(source.vars().tenso

[2020-09-17 20:25] AlexeyKurakin commented on #40
Grad module was added, so closing this issue.

[2020-09-17 20:25] #40 closed

[2020-09-17 21:04] AlexeyKurakin commented on #42
I’ll try to reconcile all options which were discussed, along with their pros and cons.

Also when thinking about these options keep in mind the following:

* One of the Objax design principles is simplicity. And we want to keep it simple.
* Objax may greatly benefit if it will be easy to import pre-trained checkpoints from other frameworks.

# Sequential module with names (in addition to indices)

[2020-09-17 21:24] rwightman commented on #42
@AlexeyKurakin thanks for the summary... I was going to implement something like NamedSequential myself in absence of a desire to make changes here. At the Module level though it's hard to suplement with my own changes (for variable naming).

One other thought on the naming. One of the model collections I maintain is a fairly extensive set of image classification models. By itself, not so interest

[2020-09-17 22:35] david-berthelot commented on #42
@AlexeyKurakin For (2) you forgot to mention that it's error prone, if I replace Conv2D with Conv3D, the variables names are the same but their weights aren't. It will load successfully and introduce a silent error which will be seen only when running the model. This is also an argument in favor of (1) safety which you also omitted.

@rwightman If you're simply looking to map names, the current in

[2020-09-17 22:49] rwightman commented on #42
@david-berthelot thanks for explanation, one thing that I might be missing though (I haven't gone through the whole train / save / load cyle yet). The .w shapes for say Conv2d vs 3d are different. Wouldn't that error out the moment you try to load and assign to the incompatible vars?

Working with models across diff frameworks and evolving model code without breaking checkpoints 'if the slipper fi

[2020-09-17 23:30] AlexeyKurakin commented on #42
# Error-prone

Being error-prone is a valid concern.
It not an issue for `Conv2d` vs `Conv3d` because kernel shapes are different.
With current set of basic ops, I think only variables for `Conv2d` and `Conv2dTransposed` could be interchanged and only in the case when `nin == nout`.
Another one is `BatchNorm` vs `SyncedBatchNorm`, though one can argue that these two ops should be interchangeable b

[2020-09-18 00:08] david-berthelot commented on #42
In the end, `VarCollection` is simply a dictionary. So if we were to provide some renaming utility, for the sake of generality it should simply take a dict mapping (old_name, new_name) and work on dictionary keys since there's nothing specific about `VarCollection` in the renaming task. Following on this, I don't think we should touch the loading/saving API which simply transfers a dict to/from di

[2020-09-18 03:47] AlexeyKurakin commented on #42
I think it would be better if remapping function takes a callable which maps string into string:

[code]

In addition to the code above we may provide version of `remap_name` which takes `Iterable[Tuple[Union[str,regex], str]]` and would cover most of common use cases:

[code]

Regarding the code example which replaces `(.*)` with empty string.
It will convert
`(EfficientNet).blocks(Sequential)[6]

[2020-09-18 03:48] AlexeyKurakin commented on #42
@rwightman
Could you comment whether any of the described ideas would work well for your use case of converting checkpoints?

[2020-09-18 05:02] rwightman commented on #42
@AlexeyKurakin I'm not sure there is a need to define formal interfaces for this, most of the work is in defining the mappings, it's easy enough to create a fn to apply the mapping to the vars dict after its loaded. This can all work, the main point was this approach feels like it adds more friction for benefits that I've never needed.

For pretrained zoo model loading, I usually have a remap/filt

[2020-09-20 17:17] sathish-a commented on #41
Thanks for the suggestion @AlexeyKurakin. How about under `examples/super_convergence` ? We can put the learning rate finder, cyclic learning rate, cyclic momentum, etc. under the above-mentioned directory. I'm currently involved in modularizing the functions. Any suggestions you would like to give?

[2020-09-21 17:58] AlexeyKurakin commented on #42
It sounds like the main inconvenience of current approach is the need to write boilerplate code to do remapping of class names during restoring model from checkpoint.

I would be reluctant to add `no_type` flag which would control whether class name is generated when module is created. It's essentially just limited version of custom formatter for variable names and I mentioned above the reasons wh

[2020-09-21 20:57] david-berthelot commented on #42
How about reusing load_var_collection like this:
[code]

[2020-09-21 21:49] AlexeyKurakin commented on #42
Yes, this will work if checkpoint is saved without class names.

I wrote example above thinking about situation when checkpoint is already saved with names of the classes, and names of the classes in checkpoint do not match to names of the classes in the model. I think this is one of use cases which @rwightman  described in latest post.

In such situation loading of the checkpoint could be achieve

[2020-09-21 21:55] AlexeyKurakin commented on #42
@rwightman the proposed solution in latest few posts maybe not exactly what you expected initially, but it essentially can acheive the same thing - saving/loading checkpoints while ignoring class names. It does add some boilerplate code, but I think if you have many models to maintain then most of this code could be factored out into some small reusable piece of code.

[2020-09-21 22:07] AlexeyKurakin commented on #42
@david-berthelot I think we should decide what code changes we going to make, if any.

Seems like right now there are following ideas:

1. Maybe add `VarCollection.rename_vars` as a helper method to facilitate variable renaming in VarCollections
2. Maybe consider modifying `load_var_collection` to support remapping of the variables upon reloading.

@david-berthelot  do you think we should implemen

[2020-09-21 22:23] david-berthelot commented on #42
Concerning your example: I think it's unsafe to map by dropping the class (like I mentioned previously).

1. I'm okay to add `VarCollection.rename` API.
2. I don't see the need to change `load_var_collection`, I'd like to see an example (two sets of strings (vc, ckpt) that won't work with the method I proposed).

To do a a class renaming for remapping, I would simply do: `vc.rename([('(class_in_ch

[2020-09-22 01:27] rwightman commented on #42
@AlexeyKurakin @david-berthelot best approach for me seems to be to maintain a fn like the proposed `custom_load_var_collection`. At this stage there is no http zoo/checkpoint dl & cache functionality here so other helper fns will be needed regardless.

[2020-09-22 20:19] aterzis-google commented on #31
I am working on this and will have an update by Monday (Sep 28).

[2020-09-22 20:47] AlexeyKurakin commented on #42
After some more thinking, we decided to prototype additional API to facilitate remapping of variable names when loading checkpoint.

[2020-09-22 21:14] AlexeyKurakin commented on #41
I think `examples/super_convergence` is fine. We're going to revamp structure of examples directory at some point, but then we will move your example as well.

Please add README file to the code. Other than that I don't have specific suggestions, after you start pull request we can go from there.

[2020-09-22 21:15] AlexeyKurakin commented on #41
@sathish-a I assigned this issue to you, since you're working on adding super_convergence example

[2020-09-22 21:38] david-berthelot commented on #42
Update: I'm going to work on a PR to prototype the ideas discussed here. Will update once I have something.

[2020-09-22 22:22] david-berthelot commented on #30
Would you be open to contributing a PR? If not please let me know; I, or someone else, can follow up.

[2020-09-23 06:31] david-berthelot commented on #42
Okay I've created a simple demo with minimal code changes. It also allows two-way renaming (`.npz` file variables names and `VarCollection` variable names).

[2020-09-23 06:39] david-berthelot commented on #42
Sample output from `examples/renaming.py`
[code]

[2020-09-23 19:09] AlexeyKurakin commented on #37
Here is one idea of how this could be implemented:

[code]

@rwightman do you have any feedback about this one?

[2020-09-23 20:18] rwightman commented on #37
@AlexeyKurakin that could work... as implemented ArgsOverride it's quite generic and could be used for any arg. Is there any other arg  passed throught the __call__ chain that you think one would want to override? If not, something like ForceNotTraining(Module) ForceTraining(Module) without the need to specifcy kwargs would be a bit more clear.

In the absence of additional functionality here, I w

[2020-09-23 20:21] rwightman commented on #30
@david-berthelot I would be, currently I have part of the change (padding type, not the mode) intertwined with some others for my prototyping. Once I get a bit further on that and get a chance to test properly I can do a PR here. But if someone else wants to take it on here before that happens, that's a-ok.

[2020-09-23 21:01] AlexeyKurakin commented on #37
Right now I can't really think of other arguments in addition to `training`, though I guess it might be convenient to do so for some non-standard modules.

Also `ArgsOverride` opens syntax like following:

[code]

[2020-09-24 15:27] jli05 commented on #31
If you could share any lessons/findings about the JAX framework itself through your work it'd be much appreciated.

JAX is apparently faster than TensorFlow. But it's quite young. I read the Issues on the JAX repo. Still undecided whether to rewrite a TensorFlow application in JAX.

[2020-09-24 19:31] schien1729 opened #56 "Consider adding new architectures"
For example, see https://arxiv.org/abs/2003.13678 (RegNet).

[2020-09-24 19:43] david-berthelot opened #57 "Is it desirable to have an objax.Function module to wrap functions and their vars?"
When passing a function to Jit or Grad, etc... we need to also pass the variables the function uses. While we can maintain this design pattern, we could also propose an alternative: a decorator that turns a function into a module.

Example:
[code]

Alternate design proposal (not a replacement)
[code]

I like a certain elegance about this proposal but I would like more opinions on whether it is a d

[2020-09-24 19:45] david-berthelot opened #58 "Make Jit, Vectorize, GradValues compatible with functools.partial"
It will probably require using python builtin names like `__wrapped__` and `__signature__`.

[2020-09-24 19:51] david-berthelot opened #59 "Prototype mutable tensors + question: are they desirable?"
Currently we cannot do write part of a tensor using numpy syntax:
[code]

However in numpy it works
[code]

I'm interested in prototyping feasibility but I also wonder if it's a desirable feature generally speaking. Feedback welcome.

[2020-09-24 19:53] david-berthelot opened #60 "Add EfficientNet to the objax.zoo"
EfficientNet: Rethinking Model Scaling for Convolutional Neural Networks
https://arxiv.org/abs/1905.11946

[2020-09-24 19:55] david-berthelot opened #61 "Add Transformer to objax.zoo"
Transformer is very popular network and it would be great to have one in objax.zoo.
We should probably also add an attention layer to objax.nn too.

[2020-09-24 20:02] david-berthelot opened #62 "Write guide on how to contribute for new users"
Points to cover with an example (could be an example pull request)
- Write code (style recommendations)
- Write unit test (in tests/)

When adding/removing APIs
- Update `docs/source` files so that the changes shows in documentation.

[2020-09-24 20:06] david-berthelot opened #63 "How do we get the documentation to show per version (1.0.1, 1.0.2, etc…)?"
Need some Sphinx expertise to make the documentation show per version on
https://objax.readthedocs.io/en/latest/

[2020-09-24 20:08] david-berthelot opened #64 "Document how to assign weights from one model to another efficiently"
For example for transfer learning or other purposes.
This work should start after #42 has been resolved.

[2020-09-24 20:10] david-berthelot opened #65 "Documentation: write in-depth topic about creating layers"
Topics to cover:
- Creating simple layers like Conv2D
- Creating core layers like Jit and more generally wrapping JAX primitives.

[2020-09-24 20:12] david-berthelot opened #66 "Extend GPT-2 example to have a chat discussion and make it fast"
We should create a conversation program like `chat_with_me.py` in GPT-2 https://github.com/google/objax/tree/master/examples/gpt-2

We may need to wrap some missing JAX primitives to ensure the performance is fast.

[2020-09-24 20:13] david-berthelot opened #67 "Create example on gradient accumulation"
Gradient accumulation is a technique used to simulate large batches that would not fit in hardware. Write an example in `examples` to demonstrate how to do it.

[2020-09-24 20:14] david-berthelot opened #68 "Write a GAN example (maybe port BigGAN or something similarly popular)"
1. Determine which GAN we want to port (discuss it here).
2. Port it to Objax!

[2020-09-24 20:16] david-berthelot opened #69 "Add LSTM cell to layers"
We should probably provide this primitive in objax.nn.layers.

[2020-09-24 20:19] david-berthelot opened #70 "Enable ConvTranpose2D groups argument"
PyTorch does this https://pytorch.org/docs/stable/generated/torch.nn.ConvTranspose2d.html#convtranspose2d

objax.nn.Conv2D already exposes the groups argument:
https://github.com/google/objax/blob/master/objax/nn/layers.py#L138

[2020-09-24 20:43] AlexeyKurakin opened #71 "Cleanup and reformat examples directory"

[2020-09-24 22:24] david-berthelot opened #72 "Sphinx documentation looks different locally and on readthedocs.io"
The documentation on https://objax.readthedocs.io/en/latest/ doesn't match what we get when building in `docs` results. It seems some options are ignored, notably whether to put type hints in the signature or in the arguments description.

For example: https://objax.readthedocs.io/en/latest/objax/nn.html#objax.nn.BatchNorm
Compared the function signature and parameters section with one locally bui

[2020-09-25 04:46] tataudat commented on #69
Hi there @david-berthelot, I would like to take this issue :D

[2020-09-25 05:16] david-berthelot commented on #69
Cool thanks, I assigned it to you.

[2020-09-27 18:23] joaogui1 commented on #61
Hi, I would like to do both :)

[2020-09-27 18:30] david-berthelot commented on #61
Cool that would be very helpful! Thanks! Assigning to you.

[2020-09-28 07:42] sathish-a commented on #60
Hi david, Can I work on this too?

[2020-09-28 11:45] david-berthelot commented on #60
Sure, I assigned it to you.

[2020-09-28 21:26] david-berthelot commented on #42
@rwightman Can you share some feedback? I'd like to commit/edit the changes this week if possible.

[2020-09-28 21:34] rwightman commented on #42
@david-berthelot I switched gears and haven't swung back to jax/objax yet, but I did scan the renaming.py example and at appears to have needed flexibility and a sensible interface.

[2020-09-29 16:12] #57 closed

[2020-09-29 16:12] #58 closed

[2020-09-29 16:18] #72 closed

[2020-09-29 16:59] sathish-a commented on #60
Hi David, I have a doubt regarding the kernel initializer - [VarianceScaling](https://github.com/tensorflow/tensorflow/blob/fcc4b966f1265f466e82617020af93670141b009/tensorflow/python/keras/applications/efficientnet.py#L126) used in the Keras implementation of the EfficientNet model. If you see they have this mode called `fan_out` where they do the [product](https://github.com/tensorflow/tensorflow

[2020-09-29 19:31] AlexeyKurakin commented on #41
@sathish-a friendly ping, just wanted to double check if you still working on it?

[2020-09-29 19:55] david-berthelot opened #78 "Show JaxArray type on readthedocs."
It's not showing properly.

[2020-09-29 19:55] david-berthelot opened #79 "Clarify JIT docs about variables passed for a module."

[2020-09-29 23:40] aterzis-google commented on #31
@jli05 I can say that many projects in Google Research use JAX and the frameworks built on top of it. If you can say a little more about your project then maybe I can give some more direct guidance.

I also wanted to ask you about your original question about speed of training.

*Did you consider using Colab which has support for GPUs?
*Also, have you seen the section about saving and loading mode

[2020-09-30 00:07] rwightman commented on #60
@sathish-a I implented EfficientNets in PyTorch and the weight init is important as it alters the behaviour training from scratch. In my original attempt I messed up the fan in/out calc due to discrepencies in the group (depthwise) packing between TF and PyTorch. I'd try to match the original TPU Tensorflow impl.

It should be noted the that the original TPU TF impl (https://github.com/tensorflow/

[2020-09-30 01:19] david-berthelot commented on #60
@sathish-a You can make your own initializer:
[code]

Eventually (maybe in a separate future PR), if there's a need for a fanout initializer, we could add it in (objax.nn.init) and design it similarly to `kaiming_truncated_normal` or `kaiming_normal`.

For now, I would suggest not to worry about the elegance of the design, so you could technically put everything in `efficient_net.py` for now, we c

[2020-09-30 02:24] david-berthelot commented on #30
Here's the plan, I collected more opinions and we'll extend in the simplest way, I'll do the coding in the coming days.

This part will remain the same.
[code]

Conv2D (and others) will be extended to support numeric padding.
[code]

In the end, we decided againt added numpy-style mode paddings since we want to be mindful about keeping the original design simplicity.

[2020-09-30 02:50] sathish-a commented on #41
Hi @AlexeyKurakin yes. It's not working as expected when there is an ema in the training op. So debugging on that line. I'll submit PR shortly.

[2020-09-30 03:04] david-berthelot commented on #41
By the way, don't hesitate to submit a draft pull request to get feedback/help.

[2020-09-30 05:04] rwightman commented on #30
@david-berthelot makes a lot of sense, the numeric padding was the motivation for this issue. Fancy modes are much less common and can always be done with separate padding layers.

[2020-09-30 08:12] jli05 commented on #31
Yes I read about that documentation.

The model we're making is relatively small but need be distributed out and run many times for training and inference. What makes JAX and its derived frameworks attractive is that it is compact, small size, relatively quick load time. It sticks to its job.

`jax` package is about 240k, `jaxlib` is 40M. If `jaxlib` becomes optional that'd be more fantastic. I di

[2020-09-30 08:45] sathish-a commented on #60
@rwightman and @david-berthelot Thanks for your valuable inputs. Which one can I follow the original [TPU implementation](https://github.com/tensorflow/tpu/blob/master/models/official/efficientnet/efficientnet_model.py) or [Keras Application](https://github.com/tensorflow/tensorflow/blob/v2.3.1/tensorflow/python/keras/applications/efficientnet.py)? I felt the latter one was much more clear.

[2020-09-30 17:54] #30 closed

[2020-09-30 18:06] rwightman commented on #60
Keras ver is easier to follow, but they do deviate slightly from the original so you should be aware of that. Some notes by the author there: https://github.com/keras-team/keras-applications/pull/113 ...also, the stride=2 padding is handled with an explicit pad layer + valid instead of using same, not quite sure why as I figured Keras 'same' padding should match TF.

Also, the keras impl does not

[2020-09-30 21:38] david-berthelot commented on #60
From @rwightman feedback, I would be more inclined to use TensorFlow as the true reference.

[2020-09-30 23:50] AlexeyKurakin commented on #23
@kovasb is my explanation provided any clarity of the question?
Also would you be willing to do some prototyping / benchmarking of this change to see how useful it is for perfromance?

[2020-10-01 05:46] aterzis-google commented on #63
Added support for viewing documentation per version by tweaking the readthedocs.io config. See:

https://objax.readthedocs.io/en/v1.0.2/

[2020-10-01 05:46] #63 closed

[2020-10-01 17:03] naruto-raj commented on #68
hi Team, i came to know about this project from a fellow contributor friend of mine and would like to contribute my best too. I would like to request to port pix2pix gan as an example.

[2020-10-01 17:47] david-berthelot commented on #68
That's a cool idea, I think it would be very helpful!

[2020-10-01 18:25] naruto-raj commented on #68
Thank you, i will start working on it.

[2020-10-01 19:57] sathish-a commented on #41
I'm almost done with this. I have modified the existing `optimizers.Momentum` module to accept the momentum value during the training in order to support cyclical momentum. Now everything is working as expected. Can I share the colab link here so that you guys can review it?

[2020-10-01 21:20] david-berthelot commented on #41
Sure, you can even share a pull request. Note, tomorrow we're planning to release 1.1.0, is there any chance you could have a PR before it? If not, that's not the end the world, it'll be in next release (probably November).

[2020-10-02 16:10] #42 closed

[2020-10-02 16:13] AlexeyKurakin commented on #37
@rwightman  Eventually we decided to use name `ForceArgs` for this feature and as I mentioned above it's somewhat more generic than simply forcing training flag. Right now change is merged into repository and available to be used.

[2020-10-02 16:13] #37 closed

[2020-10-02 16:30] sathish-a commented on #41
Sorry @david-berthelot got held up with some personal work. Will send a colab link I think I've to modify the design of my current implementation. Lots of code redundancy. I - require some help on it. Once I get your feedback, I'll submit a draft PR. We can continue from there. What do you say?

[2020-10-02 16:36] david-berthelot commented on #41
Sounds good.

[2020-10-02 16:37] #78 closed

[2020-10-02 16:37] #79 closed

[2020-10-02 18:27] rwightman commented on #37
@AlexeyKurakin thanks for the heads up, looks good

[2020-10-03 04:14] bkkaggle opened #88 "Tracer error when using a random variable"
Hi, I'm working on implementing dcgan in objax and I'm running into this error:

[code]

It looks like this is being triggered by the running mean and stddev avgs of batchnorm layer in the discriminator during the generator update step.

Here's a colab link to a colab notebook to reproduce this: https://colab.research.google.com/drive/1gG0naJz_JbFHQwNxL9jTKeifwzVne6KE?usp=sharing

Also, I'm not su

[2020-10-03 04:34] mattjj commented on #88
It's probably a side-effect (in your code or objax) stashing a JAX tracer. I requested access to the notebook!

[2020-10-03 05:09] bkkaggle commented on #88
sorry about that, I should've checked to see if the link worked. https://colab.research.google.com/drive/1gG0naJz_JbFHQwNxL9jTKeifwzVne6KE?usp=sharing

[2020-10-03 05:21] mattjj commented on #88
I got a different error when running the cells:

![image](https://user-images.githubusercontent.com/1458824/94984111-846e7300-04fd-11eb-9d1a-8477aa319fe0.png)

Could you double check that it's a repro of the bug you care about? Btw, minimizing it would increase our chance of making progress :)

[2020-10-03 05:47] david-berthelot commented on #88
This is the right place where to ask. I've got the same error as @mattjj when trying to reproduce it.
Your code you use both  `objax.functional.loss.cross_entropy_logits` and  `objax.functional.loss.cross_entropy_logits_sparse`. In both cases, the way the API is called is the cause.

In short, the nicest way to do it would be for `g_loss` is:
[code]
And for `d_loss`, you could change the code acco

[2020-10-03 13:58] bkkaggle commented on #88
Thank you! the code runs now!

[2020-10-03 13:58] #88 closed

[2020-10-04 16:29] bkkaggle opened #89 "Clarification on loss function names"
Hi,

I'm assuming `cross_entropy_logits()` is meant to be used on the raw logits of the model and `sigmoid_cross_entropy_logits()` is the version that's meant to be used on logits that have been normalized to [0, 1] with a sigmoid or softmax layer?

Or is that `sigmoid_cross_entropy_logits()` is meant to be used for binary classification on the raw logits of the model and `cross_entropy_logits()`

[2020-10-04 21:12] david-berthelot commented on #89
Your second interpretation is the right one: sigmoid for binary, cross for multiclass.

[2020-10-04 21:58] #89 closed

[2020-10-04 23:01] bkkaggle opened #90 "Computing gradients for a generator and discriminator"
Hi,

I'm trying to get a working dcgan implementation in objax. Since the discriminator and generator need to be optimized separately, I'm taking the gradients wrt to both modules in two different functions like this:

[code]
Would this the preferred way of doing this, or is there a way of returning two values (the loss for both the generator and discriminator) in one function and then computing t

[2020-10-05 06:27] sathish-a commented on #41
Hi @david-berthelot, here is the [colab link](https://colab.research.google.com/drive/1iz0Wb2GtECxddP8Jl1FqaGBfK5Zibam8?usp=sharing) to the notebook. Please add the comments in the notebook itself.

[2020-10-05 15:23] david-berthelot commented on #90
Your method seems to be how I would do that myself, e.g. two losses and two respective gradient functions for the generator and the discriminator. It looks very clean and readable to me.

Now when it comes to GANs, better start by replicating an existing working one because it's very difficult to get one written from scratch to converge.

[2020-10-05 15:41] david-berthelot commented on #41
Sorry it's hard to do code suggestions in a colab, so I'll do it here.

For the updated `Momentum` class, I would suggest to allow overriding the default value in the `__call__` method rather than redefining it, it's more consistent with the rest of Objax' design.
[code]

You can save the model weights without using `deepcopy`. Obviously you can if your prefer to, but here is a simple way using `V

[2020-10-05 15:57] bkkaggle commented on #90
Thanks,

I'm not sure how objax handles this but could the error in setting training=true for the generator in d_loss be that GradValues wants to be calculate the gradients of the generator as well or could updating the generator's running mean and stddev mess with the jit-ed generator() call in g_loss()?

[2020-10-05 17:17] sathish-a commented on #41
@david-berthelot, Thanks for the feedback. I'll incorporate these changes. The reason for the big notebook is that I wanted to showcase the results of these experiments at each phase. And for the specific feedback, let's take a function `find_lr` the inputs, and the model is tightly coupled inside the function. What I imagined was like if some user wants to experiment with their own set of models

[2020-10-05 17:41] david-berthelot commented on #90
It could be due to this line:
[code]

Generally speaking, for `Jit`, you could pass all the vars since it won't matter if they are unused while if you omit some vars they will be treated as constants. In this particular case, when training is true, batch norm statistics are updated, and since you didn't pass `generator.vars()` they were treated as constants. So in a nutshell, the code is writing t

[2020-10-05 17:44] david-berthelot commented on #41
I think everything in your notebook could be useful to the community:

1. The modified Momentum method that lets override the momentum would be useful in the objax library itself. (Actually upgrading Adam following the same principle would be useful too).
2. Finding the learning rate would be useful but probably more as a tutorial / notebook.

@AlexeyKurakin Do you want to add anything?

[2020-10-06 04:48] sathish-a commented on #41
Alright, so first can I send an individual PR for the modifications in Momentum and Adam and then followed by the notebook inside `examples/super_convergence`?

[2020-10-06 06:19] david-berthelot commented on #41
Yes, sounds like a plan.

[2020-10-06 07:45] kihyuks commented on #70
@david-berthelot one difficulty is that `lax.conv_transpose` ([link](https://jax.readthedocs.io/en/latest/_autosummary/jax.lax.conv_transpose.html#jax-lax-conv-transpose)) doesn't expose `groups` argument. If we want to expose `groups` argument for ConvTranspose2D, we will need to reimplement ConvTranspose2D using `lax.conv`. Please let me know if this is what you want to proceed.

[2020-10-06 08:22] kihyuks opened #91 "Padding for pooling layers"
Now Conv2D allows explicit padding, while pooling layers are not. We need consistent padding types for both convolution and pooling layers.

[2020-10-06 13:59] bkkaggle commented on #90
Thanks for all the help, there still seems to be a tracer error that jax is throwing because of the batchnorm layers in both networks. I guess i'll switch back to using flax or haiku for a while until i can take another look at this :)

[2020-10-06 13:59] #90 closed

[2020-10-06 13:59] bkkaggle commented on #90
Thanks for all the help, there still seems to be a tracer error that jax is throwing because of the batchnorm layers in both networks. I guess i'll switch back to using flax or haiku for a while until i can take another look at this :)

[2020-10-06 19:08] aterzis-google commented on #69
@tataudat let me know if you are still working on this and if you need any help

[2020-10-06 19:08] kihyuks commented on #70
Note: see if there is a plan for exposing `groups` for `lax.conv_transpose`.

[2020-10-06 19:09] aterzis-google commented on #61
@joaogui1 let us know if you are still working on this and if you need any help!

[2020-10-06 19:15] AlexeyKurakin commented on #23
I'll close this issue for now. If we figure out that there is a need to have multiple iterations per training loop, then I'll reopen it.

[2020-10-06 19:15] #23 closed

[2020-10-06 20:56] joaogui1 commented on #61
Hi, I'm deeply sorry, this past couple days were extremely busy, I'll try to open the PR on Friday, is that ok?

[2020-10-07 14:21] sathish-a commented on #41
@david-berthelot, wrt Adam, do I need to add functionality to override both `beta1` and `beta2` parameters or just `beta1`?

[2020-10-07 15:39] tataudat commented on #69
Thanks for the reminder @aterzis-google! I'm still working on it and will put up something soon.

[2020-10-07 15:45] david-berthelot commented on #41
Let's do both.

[2020-10-07 15:47] aterzis-google commented on #61
No rush, just wanted to see if there is any way we can help. Thanks again for all your efforts!

[2020-10-13 19:37] #91 closed

[2020-10-14 17:38] sathish-a commented on #60
I started to work on porting TF implementation. In the TF repo, I could see so many options available for users to customize the model to obtain different variants. Often I get lost in finding the right set of options for the standard EfficientNet variant. Do I need to support all this customization as well? I require some inputs regarding this and how to approach it?

[2020-10-14 17:55] rwightman commented on #60
@sathish-a there is a lot of customization in their MBConv block, it's hard to follow. I'd recommend referencing the Keras model structurally and the official Tensorflow TPU impl for the details, like initialization, padding, etc. I'd assume for Objax you'd want something that ends up looking more like the Keras or PyTorch variants than the original TF1 style code.

My PyTorch models also match th

[2020-10-14 21:29] david-berthelot commented on #60
One thing to consider is to be compatible with an implementation that offers pre-trained weights that we could later import in Objax. So using either Keras or PyTorch works, I'm not sure which I would pick.

[2020-10-15 00:26] rwightman opened #104 "Many layer conventions are different from both Tensorflow/Keras and PyTorch"
I'm not sure if this was by design, or just the way it worked out, but Objax forges in own path for many parameter/variable, state naming/order conventions, default arguments etc.

While it may seem trivial if one is just using Objax, but adds some cognitive overhead when you're working with multiple frameworks, moving weights around, some components that work with multiple modeling interfaces.

S

[2020-10-15 01:42] rwightman opened #106 "Add type and shape check to var assign"
I made a few mistakes moving weights from PyTorch with vc.assign and ended up clobbering over all of the models weights with the wrong shape. No errors until you try to use the model.

I noticed the assign fn just uses `var = tensor` ... no copy option since the jax array's are immutable, but wouldn't an `assert isinstance(tensor, JaxArray) and self.var.shape == tensor.shape` be appropriate? Or po

[2020-10-15 04:14] david-berthelot commented on #106
We started an effort on creating better error messages (since the JAX ones can lead to confusion) which include adding asserts in various places. Your proposal fits well into that project: https://github.com/google/objax/projects/1

1. Assert `isinstance` seems like a good idea.
2. Assert `shape` also seems like a good idea since I don't see under what scenario modifying a variable value to one wi

[2020-10-15 07:13] rwightman commented on #104
Another addition here instead of creating isssue spam.

Something else that cropped up when brining in weights from elsewhere, the Objax combo of NCHW, HWIO, NCHW for conv kernels is different from both Tensorflow/Keras defaults (channels_last w/ NHWC, HWIO, NHWC) and PyTorch (NCHW, OIHW, NCHW) .. Objax matches the less common mode of TF/Keras w/ channels_first which leaves the kernel shapes as is

[2020-10-15 23:01] AlexeyKurakin opened #109 "Explore Objax to Tensorflow conversion"
Some other JAX frameworks provide API to convert JAX models into Tensorflow:

1. https://trax-ml.readthedocs.io/en/latest/notebooks/tf_numpy_and_keras.html#2.-Convert-Trax-to-Keras
2. https://source.corp.google.com/piper///depot/google3/third_party/py/jax/experimental/jax2tf/examples/stax_to_tf_module.py
3. https://github.com/google/jax/tree/master/jax/experimental/jax2tf

Such conversion might be

[2020-10-16 18:37] peterjliu opened #111 "Remove need for .value when referring to internal param values."
When referring to a Module's internal variables in __call__, one needs to use `self.x.value` instead of simply `self.x`. It'd be nice to enable this syntactic sugar to improve the readability of complex math expressions. For example, `tf.module` allows this

 class Dense(tf.Module):
   def __init__(self, in_features, out_features, name=None):
     super(Dense, self).__init__(name=name)
     self.w

[2020-10-16 22:35] peterjliu opened #112 "Document how to set random seed for default generator"
Improve documentation around random numbers. By default, objax random functions use the DEFAULT_GENERATOR, which has initial seed set to 0.

Looks like you can set the seed by `random.DEFAULT_GENERATOR.seed(1234)`.

[2020-10-17 02:26] RXZ2020 opened #114 ""objax.variable.VarCollection is not a valid JAX type" when creating a custom optimizer"
Hi, I wish to create a custom optimizer to replace the
`opt(lr=lr, grads=g)
`
line in the example https://github.com/google/objax/blob/master/examples/classify/img/cifar10_simple.py

Instead, I replaced it with
[code]
and then supplied model.vars() as an argument to train_op. However, I received an error: objax.variable.VarCollection is not a valid JAX type. Can someone help me with this issue? He

[2020-10-17 02:35] david-berthelot commented on #114
In Objax, contrary to other JAX frameworks, you don't need to pass model variables around. They are stored in modules, and for functions they're only need when you JIT them.

In your particular example, you don't need to pass `model_vars` to `train_op`, you already do it in the `Jit` call.

[code]

Check the SGD source code, it's 3 lines of code, basically you can copy it and make your own optimiz

[2020-10-17 02:42] RXZ2020 commented on #114
Thanks for the fast reply. When I ran this code I received:
_ValueError: Direct assignment not allowed, use TrainRef to update a TrainVar._
I got the same error by replacing model_vars with model.vars() which I think are equivalent.

[2020-10-17 02:46] RXZ2020 commented on #114
I got it working by replacing
`model_vars.subset(objax.TrainVar)`
with
`ModuleList(TrainRef(x) for x in model.vars().subset(TrainVar))`
and importing the associated modules
[code]
However, I have two issues which is 1. this code is very slow because I'm not using Objax.Jit on the optimizer routine (took roughly 16 seconds for 1 epoch), 2. it is not very minimalistic. Do you have any suggestions?

[2020-10-17 02:49] david-berthelot commented on #114
Oh right, yes `=` is disallow on `TrainVar` to avoid users accidentally writing a trainable variable.

For minimalism, you could use `assign` instead of `=`:
[code]

For performance, you simply need to JIT `train_op`, everything inside gets jitted.

[2020-10-17 03:03] RXZ2020 commented on #114
Thanks for your reply! I am still having some trouble however. After using,
[code]
exactly as it appears, I received: _UnexpectedTracerError: Encountered an unexpected tracer. Perhaps this tracer escaped through global state from a previously traced function. The functions being transformed should not save traced values to global state._

Is there a way to modify
`train_op = objax.Jit(train_op, gv

[2020-10-17 03:07] RXZ2020 commented on #114
Thanks for your reply! I am still having some trouble however. After using,
[code]
exactly as it appears, I received: _UnexpectedTracerError: Encountered an unexpected tracer. Perhaps this tracer escaped through global state from a previously traced function. The functions being transformed should not save traced values to global state._

After fixing this problem I will try out jit(train_op(...))

[2020-10-17 03:10] david-berthelot commented on #114
I updated my comment, check if it works.

[2020-10-17 03:18] RXZ2020 commented on #114
I've changed my code per your suggestion. Unfortunately now I have this error:
`TypeError: cannot convert dictionary update sequence element #0 to a sequence`

[2020-10-17 03:58] david-berthelot commented on #114
Updated again.

[2020-10-17 04:00] #62 closed

[2020-10-17 04:39] RXZ2020 commented on #114
Thanks. This completely solves my question.
Just as a suggestion (feel free to disagree here) it seems that this line
`objax.ModuleList(objax.TrainRef(x) for x in model.vars().subset(objax.TrainVar))`
could be made more minimalistic somewhere down the line, or at least a bit more intuitive.
All the user wants to do is to update the trainable variables in the model.
Perhaps there should be a way to

[2020-10-17 05:28] david-berthelot commented on #114
Well consider that Objax is object-oriented and an optimizer is meant to be an `objax.Module`. If you look at SGD it's just 3 lines of code:
https://objax.readthedocs.io/en/latest/_modules/objax/optimizer/sgd.html#SGD

On the other hand, if you're looking for a functional design, maybe pure JAX is what will suit you best or one of the functional frameworks out there (I mean they're pretty much all

[2020-10-17 14:30] naruto-raj commented on #68
Hi @david-berthelot  while trying to port pix2pix i came across Upsampling2d function in keras which is not available in objax module. any suggestions please?

[2020-10-17 18:30] david-berthelot commented on #68
Are you looking for something like that?

[code]

[2020-10-17 18:55] david-berthelot commented on #68
Maybe it would be worth make such an API part of `objax.functional`, would you be interested in doing a PR just for that? Otherwise I can create an issue and let someone else take it.

[2020-10-18 00:55] carlini commented on #106
This bug just bit me when accidentally restoring a checkpoint with different sized models. For example, if you have WRN-18,2 and restore a WRN-18,1 it'll clobber over the prior sizes with the new sizes and then you get very weird behavior.

I'm writing a PR to address both of these bugs.

[2020-10-18 18:21] naruto-raj commented on #68
thank you so much, this would help. i am also trying to use conv2dtranspose instead since it was used in the original implementation for upsampling layers.

[2020-10-19 03:32] naruto-raj commented on #68
@david-berthelot sure, i will do the PR for upsample2D.

[2020-10-20 19:16] aterzis-google commented on #31
@jli05 also see https://github.com/google/objax/pull/97 for ongoing work to refactor RNN

[2020-10-21 05:33] david-berthelot commented on #114
Reopening since I'm experimenting with design changes to allow for the original code, e.g.:
[code]

[2020-10-21 07:21] carlini commented on #104
On the whole, when there is consensus for what the correct implementation of something should be, objax tries to follow that.  For example, there is a definitive resnet-18, and so we try to be exact there.

But when there's no consensus (for example, whether it should be called `kernel` or `weight`, or whether the best default parameter should be `.9` or `.99`) then we pick something that we think

[2020-10-21 07:24] carlini commented on #104
For the weight shapes, there's actually a good reason for this. @AlexeyKurakin had found somewhere that JaX is actually fastest when using this combination of parameters. And so we decided to stick with this one because it's best for JaX.

The reason the weights are assigned with the shape in them is mostly just to keep everything clean on the implementation, to make explicit where the values are

[2020-10-21 16:19] rwightman commented on #104
@carlini thanks for the explanations.

Taken in aggregate these details are an interface of sorts, a low-level one, but something certain users will encounter. I'm not sure standing out / being different here is an asset. In some respects it turned out to be easier to move model weights between PyTorch and Tensorflow than either to Objax which was suprising.

Re the conv kernel layout + data forma

[2020-10-22 02:14] carlini opened #124 "Random number tests fail unpredictably"
There are currently tests in tests/testrandom.py that fail with small probability (and some with not-so-small probability)

For example, here

https://github.com/google/objax/blob/07b2bb09980ee92935973015ea10d1fa99e5e766/tests/testrandom.py#L54-L55

the probability that this fails is ~11% (taking the mean of 1000*100 samples with man stdev=2 should be distributed like a normal with mean 006.324e-3

[2020-10-22 02:35] david-berthelot commented on #124
Would setting a fix seed per test address be a satisfactory solution?

[2020-10-22 02:38] carlini commented on #124
Does jax guarantee that the same seed will generate the same random sequence across minor versions of the library? If so, then maybe.

The seed should be reset before every random call though, or else changing one test could make a new one fail.

[2020-10-22 02:41] david-berthelot commented on #124
Well we can pass a generator per test so the seed can be controlled locally without trouble.
As to JAX guarantees, I don't know.

[2020-10-22 20:39] carlini commented on #106
Fixed in #123.

[2020-10-22 20:39] #106 closed

[2020-10-23 21:25] david-berthelot opened #127 "Port Vision Transformer (ViT) to Objax examples"
https://github.com/google-research/vision_transformer

[2020-10-25 19:35] Borda opened #129 "Question: difference between Flax and Objax"
This is just a question as I cross over Objax and [Flax](https://github.com/google/flax) today and both are google frameworks and both claim to be the deep learning framework in Jax. I noticed that the API is slightly different... Could you share some thoughts on the relation of these frameworks or eventual cooperation in a single user project?
Thank you 🐰

[2020-10-27 18:33] sathish-a commented on #60
Hi, @david-berthelot just to check how do you visualize the Objax models (summary)? I'm almost done with the implementation. Many thanks to @rwightman his PyTorch implementation had helped me a lot. And can you guide me any standard way to port models from PyTorch / Keras?
Sorry for the delay, I'm working on this in my free time.

[2020-10-27 19:20] aterzis-google opened #130 "Guide for porting models from PyTorch"
Create a guide to show how to port a model and import its weights from PyTorch to Objax

[2020-10-27 21:47] AlexeyKurakin commented on #71
Examples directory updated in PR #120

[2020-10-27 21:52] AlexeyKurakin commented on #71
Last two things which needs to be done - update links/paths in RST documentation in following two files:
https://github.com/google/objax/blob/master/docs/source/examples.rst
https://github.com/google/objax/blob/master/docs/source/tutorials.rst

[2020-10-27 23:24] #114 closed

[2020-10-28 01:45] aterzis-google commented on #69
@tataudat there hasn't been progress for ~3 weeks so you might be busy with other things. We will unassign the bug from you this coming Friday to see if others are interested

[2020-10-28 05:53] david-berthelot opened #131 "Undocumented API load_pretrained_weights_from_keras"
Add the API to the corresponding `.rst` file in `docs/` for it to show in the documentation:
https://objax.readthedocs.io/en/latest/objax/zoo.html#objax-zoo-resnet-v2

[2020-10-28 05:55] david-berthelot commented on #60
Hi @sathish-a and thanks for the update. @kihyuks has ported some models from PyTorch and Keras to Objax. Here's some code he contributed to automatically import pre-trained models from Keras (`load_pretrained_weights_from_keras`):
https://github.com/google/objax/blob/master/objax/zoo/resnet_v2.py#L428

Basically the methodology would be similar for PyTorch (reshape variables if needed, map the va

[2020-10-28 06:06] aterzis-google opened #132 "Implement the LARS Optimizer"
Implement the LARS optimizer from: https://arxiv.org/abs/1708.03888

[2020-10-28 06:14] david-berthelot opened #133 "Add a section on how to cite Objax in papers to the README.md"
Something like this: https://github.com/google/jax#citing-jax

[2020-10-28 21:37] rwightman commented on #60
@david-berthelot @sathish-a I had been working in fits and spurts on some JAX models. It does overlap somewhat with this, but has a different focus and I'm not sure exaclty at this stage where my models will end up.

I've implemented all of the models in the same family as EfficientNet https://github.com/rwightman/efficientnet-jax

For a canonical Objax model to include here, @sathish-a can likely

[2020-10-29 03:47] AlexeyKurakin commented on #111
I will implement it after JAX team will make this change: https://github.com/google/jax/pull/4725

[2020-10-29 10:43] david-berthelot opened #134 "Add interpolate API"
Add an `interpolate` API , very similar in spirit to this one from PyTorch
https://pytorch.org/docs/stable/nn.functional.html#interpolate

[2020-10-29 18:05] sathish-a commented on #60
@david-berthelot, @rwightman's efficientnet-jax repository looks pretty interesting and well built. My version of the model is more aligned with @rwightman's PyTorch implementation and only supports the basic variant of EfficientNet. Should I continue working on this? Let me know what you think.

[2020-10-29 19:14] rwightman commented on #60
@sathish-a I built my models with my own aims in mind, mentioned in that repo. There is value in having a concise Objax version that is part of this code base, maintained in sync. My version is not that, it has wider coverage of models than EfficientNet variants, a more complex builder to achieve that, multiple files, variations that cover PyTorch and TF weight origins, support for a Flax Linen ba

[2020-11-02 05:43] david-berthelot commented on #60
The only constraints from my perspectives are:

1. It should be functionally an EfficientNet
2. Its performance should match of existing implementations so people can use it for experimenting for their publications, and pre-trained models performance should match too.
3. Keep the code simple

That's all, you have absolute freedom within those constraints.

[2020-11-09 19:21] peterjliu opened #137 "Broken links to Additional tutorials"
Links here are broken:

https://objax.readthedocs.io/en/latest/tutorials.html

[2020-11-09 20:18] aterzis-google commented on #137
Thank you @peterjliu for reporting.

https://github.com/google/objax/pull/138 fixed the issue and the readthedocs page now reflects the correct links

[2020-11-09 20:18] #137 closed

[2020-11-10 20:08] AlexeyKurakin opened #139 "Create an FAQ for Objax"
One of the questions in FAQ - how we differ from pytorch

[2020-11-10 20:25] AlexeyKurakin commented on #139
Also add explanation of differences with Flax, Haiku and other JAX frameworks

[2020-11-10 20:26] AlexeyKurakin commented on #129
We will write and FAQ for JAX and will address this question there
Here is tracking issue on FAQ: https://github.com/google/objax/issues/139

[2020-11-10 20:26] #129 closed

[2020-11-10 20:37] Borda commented on #139
hi, it would be great to have some short comparison of all 4+ higher-level Jax frameworks developed by Google 🐰

[2020-11-15 20:34] david-berthelot opened #141 "Improve error message when an argument is missing for a module in Sequential"
For example when `training` is not passed to `BatchNorm2D`, we don't know which module (e.g. `BatchNorm2D`) was missing its argument.

[code]

[2020-11-16 06:22] david-berthelot opened #142 "Add __repr__ method for modules"
To help inspect a model's architecture.

[2020-11-18 00:59] carlini opened #146 "Restoring variable into module with extra layer fails incorrectly"
The following test case creates two modules that are identical, except the second module has a no-op layer that does nothing. Saving the first varcollection and restoring into the second crashes (which, it should work in the first place) but then also gives a really strange reason.

Code to reproduce

[code]

Output:

[code]

But wait, there's more.  If you change the `nn2` definition to

[code]

[2020-11-18 02:12] carlini opened #147 "Calling objax.random.* from within a jitted function breaks the DEFAULT_GENERATOR"
Consider the following code that creates a new linear model, creates a predict op that adds some randomness to the logits, jits it, runs it, and then tries to create a new linear layer.

[code]

This gives the very helpful error message
[code]

Here is, I think, what is going on: when we call objax.Jit() on the function, JaX goes on in the backend and traces the random number generator. Because we

[2020-11-18 06:04] david-berthelot commented on #146
I don't get the same output when running your sample code on 1.2.0
[code]

Namely `nn2` output is different, your output does not have `[2]` while mine does.
Which basically explains the message, while the variables have the same names, due to change in architecture they are not the same, `[2]` in `nn` is really `[3]` in `nn2`.

So it seems to make sense to me or am I missing something?

[2020-11-18 06:08] david-berthelot commented on #147
I guess, we could simply add `DEFAULT_GENERATOR` to Jit variables (and other primitives like vectorize and co) so it would just work. Not passing it is an error in any case since the splitting will mess with Jax tracing if not passed.

[2020-11-18 06:20] carlini commented on #146
Er. Yes. I think this is actually all correct... I was reading the layers off by one.

[2020-11-18 06:21] #146 closed

[2020-11-18 18:27] #132 closed

[2020-11-19 00:06] aterzis-google opened #149 "Revisit bias initialization for layers that have learnable biases"

[2020-11-19 05:52] david-berthelot opened #150 "Add jax.lax.scan to functional."
It works seamlessly with Objax but is not discoverable, adding it as `objax.functional.scan` will make it more discoverable.

[2020-11-20 05:02] #150 closed

[2020-11-20 20:47] david-berthelot opened #154 "Need better error message for max_pool_2d"
[code]

Error message and stack trace are quite obscure:
[code]

[2020-11-21 05:53] carlini opened #155 "Improve error when calling replicated function without Parallel"
Currently if you call replicate() and then don't use Parallel() to call a function, you get a bad error message. Try this code:

[code]

the error says
[code]

which *obviously* means that you accidentally are evaluating a function that was replicated without wrapping in Parallel.

[2020-11-21 06:13] RXZ2020 opened #156 "404 error for many Objax examples"
For example, when I open:
https://github.com/google/objax/blob/master/examples/classify/img/pretrained_vgg.py it shows an 404 not found error. Most of the examples are missing for some reason.

[2020-11-21 06:51] carlini opened #157 "Improve error when recursively calling Parallel"
This is very low priority.

[code]

[2020-11-21 07:03] david-berthelot commented on #157
Indeed, there are multiple errors interacting here, not sure on how to catch what.

For your particular example:
1. Modules should be created before variable replication.
2. Calling Grad on a Parallel module is undefined (but that should be catchable).

[code]

[2020-11-21 07:08] carlini commented on #157
No that code is exactly what I meant. It's insane code, but it minified from a bug I actually had. I meant calling `p()` in `ell`. That's what makes things crash so badly.

[2020-11-21 07:11] david-berthelot commented on #157
Okay, so can suggest a few things we could catch in your example.
Like ideally what should the error message(s) tell in this case?

[2020-11-21 07:16] carlini commented on #157
Yeah. I'm not sure yet is the issue. This code is obviously wrong and stupid. But I don't know the "right" way to say that something has gone wrong with it. Maybe the recursive call into parallel is where things go bad? Probably that should never happen. But it seems unfortunate to have to make the codebase uglier if we're going to explicitly check for loops.

[2020-11-21 07:48] carlini opened #158 "Calling objax.Grad twice on a model with BatchNorm with respect to input params crashes"
The following code crashes.

[code]

The reason this happens is because the first time we call `grad()`, jax traces the function with a tracer. We update, AND SAVE, the batch norm state as the tracer object. Then, the second time we trace, we find the old tracer and blow up.

This should be fixed by making sure that we never save a jax tracer object into the BatchNorm state.

[2020-11-21 09:22] carlini commented on #124
I think we can close this now. @david-berthelot

[2020-11-21 09:34] #156 closed

[2020-11-21 09:35] #124 closed

[2020-11-21 15:36] RXZ2020 opened #160 "Cannot run imagenet_pretrained_vgg example"
I was trying to run https://github.com/google/objax/blob/master/examples/image_classification/imagenet_pretrained_vgg.py

But received an error:

[2020-11-21 18:23] aterzis-google commented on #160
@RXZ2020 please download vgg19.npy from the URL mentioned in the error message and save it to ./objax/zoo/pretrained/vgg19.npy

[2020-11-21 18:40] david-berthelot commented on #160
You know I've come to realize that's not really practical. If you install Objax with `pip install`, the path where to save may not be obvious.

I've seen other frameworks create their own area say `$HOME/.objax`, maybe it something we should think about.

[2020-11-21 19:02] RXZ2020 commented on #160
Hi, how do you do this if I was running it on Colab? Do I create an objax folder in Google drive or elsewhere?

[2020-11-21 19:08] david-berthelot commented on #160
Yes, good point. We should make Objax download it for you otherwise it won't be useful in a Colab.

[2020-11-21 23:43] aterzis-google commented on #160
If installing Objax with `pip install`, then need to copy under site-packages/objax/zoo/pretrained.

Not sure what the copyright for pretrained VGG is and whether we can include it in the objax package.

[2020-11-25 07:51] peterjliu opened #162 "Unclear how to use Dropout with Sequential"
`objax.nn.Sequential` is a concise way to string together a bunch of layers, but it is unclear how to do this with Dropout layers, where we need to specify a `training=False/True` depending on training or inference. Just as an example
[code]

It appears you can do this:
[code]

But it wasn't clear from the documentation. This may be a good example to add. Also please let me know whether this works

[2020-11-25 08:42] david-berthelot commented on #162
Yes it does work the way you described, I've made a blog post about Sequential, linking it in case you find additional information in it: https://david-berthelot.github.io/2020-10-07-sequential-tinkering-part-1/

Note, there's already an example in the documentation https://objax.readthedocs.io/en/latest/objax/nn.html#objax.nn.Sequential

We keep adding to the docs all the time, so it's always wor

[2020-11-25 18:28] peterjliu commented on #162
Ah, I didn't see the code example. I would recommend adding some text somewhere, perhaps in the API description. I did see your blog-post but it didn't have such an example exactly. Having a dropout example, which is a very common use-case for pretty much all models might make things clearer.

[2020-11-29 07:55] carlini opened #163 "Add warning: calling checkpoint.save() within a replicate() saves the replicated variables"
If you save a checkpoint from within a `with model.replicate()`, then it will checkpoint the replicated variables. This is the correct behavior, but it might be convenient to add a warning that this is happening and ask if the user didn't intend to checkpoint from outside of the replicate().

[2020-11-30 11:43] matpalm opened #164 "TrainVar with single scalar causing error"
hi!

doing some calibration experiments and playing around with a simple Temperature scaling layer for just doing elementwise scaling.

[code]

the idea to be that you can just append it to a pretrained resnet and just fit the single temp scaling; something like...

[code]

when i do this though my training loop works, but the model then gets into a strange state when forward pass fails. things wo

[2020-11-30 18:38] david-berthelot commented on #164
I couldn't access the colab. A priori, I don't see why it wouldn't work, so I need to take a look at the details to understand better what's happening.

[2020-11-30 19:50] matpalm commented on #164
oh sorry, must have misclicked during sharing. can you try again please?

https://colab.research.google.com/drive/1P9cmW24V4fRDQmay3G8ZtRQtybNDH6ij?usp=sharing

[2020-11-30 21:15] david-berthelot commented on #164
I think it must be because you don't pass the model vars to Jit, and yet you pass `training=True` which is going to update batch norm statistics for the ResNet. This makes the code confused, because you change the value of a variable that Jit is treating as a constants (since it wasn't provided to it as a variable).
[code]

One way to solve the problem would be (assuming you want to update batch n

[2020-11-30 21:22] david-berthelot commented on #164
I've marked this Issue for the project on error message improvement.
We can look into whether there's a way we could detect a variable being written in JIT while it is not passed in the VarCollection.

[2020-11-30 21:41] matpalm commented on #164
ahha! i see. thanks, as always, for the quick feedback david!

[2020-12-01 20:18] AlexeyKurakin commented on #164
@carlini
I think you looked into similar issues, could you provide your suggestions

[2020-12-01 20:54] shs037 commented on #112
Finished in #143 .

[2020-12-01 20:54] #112 closed

[2020-12-02 17:58] wil-j-wil opened #165 "Enforcing positivity (or other transformations) of TrainVars"
Hi,

Is it possible to declare constraints on trainable variables, e.g. forcing them to be positive via an exponential or softplus transformation?

In an ideal world, we would be able to write something like:
`self.variance = objax.TrainVar(np.array(1.0), transform=positive)`

Thanks,

Will

p.s. thanks for the great work on objax so far, it's a pleasure to use.

[2020-12-02 22:49] david-berthelot commented on #165
It can be done but by applying a function to the variable when it is used; basically by using standard Python.

Example:
[code]
In this example I used `jn.abs` as a way to make the variable usage positive, you can use any math expression you'd like obviously.

You can go as fancy as you want in your use of standard python:
[code]

Would that work for you?

[2020-12-03 07:49] wil-j-wil commented on #165
Hi,

Thanks for the quick response. The solution you suggest absolutely works, the only thing lacking is that it would be really nice if calling `self.v.value` returned the positive value itself. That way the code becomes cleaner, and when a user wants to inspect a variable, they don't have to know which positivity transform to apply. Also, initialising the variables would become slightly cleaner.

[2020-12-03 08:07] david-berthelot commented on #165
Yes, I see your point, it's a balancing act really between having very explicit behaviors (a variable is just a container for a matrix/tensor, any other properties of that variable come from modifications applied to it when using it) and implicit behavior (a variable is a matrix combined with more functionalities that can continuously grow over time).

We're trying really hard to avoid bloat and r

[2020-12-05 16:36] david-berthelot opened #166 "Add automatic broadcasting of scalars to objax.Parallel"
[code]

[2020-12-08 16:16] david-berthelot commented on #149
It seems there was no need last time we discussed. Closing for now / feel free to reopen.

[2020-12-08 16:16] #149 closed

[2020-12-08 16:17] david-berthelot opened #168 "Update documentation to prefer Function.with_vars decorator as it is less error prone."

[2020-12-08 20:23] AlexeyKurakin commented on #158
We have to save (temporary) jax tracer into StateVars for JAX machinery to work correctly. However it has to be "restored" later.

So this gets to another broader issue of automatically figuring out list of variables used by a function.
If we know a list of variables then we can properly handle this situation as well as some other (like auto-detect variables needed for JIT)

Thus the next step wou

[2020-12-08 20:33] AlexeyKurakin commented on #155
One possible solution - if function is called with `SharderDeviceArray` then it must be replicated.
In the example above - `mod.__call__` checks whether input is `SharderDeviceArray` or not. If it is `SharderDeviceArray` then exception is thrown saying that user have to call `objax.Parallel`

[2020-12-08 20:39] #141 closed

[2020-12-08 20:39] #162 closed

[2020-12-08 20:39] #163 closed

[2020-12-09 01:10] AlexeyKurakin commented on #165
I don't think it's a good idea to add transformation functionality to existing Objax variables for the reasons David stated above.

However as @wil-j-wil mentioned we can have a wrapper which can perform arbitrary transformations of underlying variables.
Here is possible example:

[code]

At this point I would be reluctant to add such wrapper to the core Objax code, to keep codebase simple and con

[2020-12-09 07:37] david-berthelot commented on #165
Actually you could make it trainable:
[code]

You can inherit from `TrainVar` for trainable variables and make your own. You can also inherit from `StateVar` for non-trainable variables.

[2020-12-09 12:01] wil-j-wil commented on #165
This sounds totally reasonable, and I see your point and agree there is no need to add to the core library.

@david-berthelot's idea is very elegant, and would be ideal, however I don't think it works quite as expected. The gradients seem to be off, maybe overriding the `value` property is causing something strange to happen here? Also, when trying to JIT the training loop using this approach, I g

[2020-12-09 14:02] david-berthelot commented on #165
Feel free to share a code snippet if you need help.

[2020-12-09 17:40] #166 closed

[2020-12-09 20:45] wil-j-wil commented on #165
Here's the most basic working example I could come up with, adapting from the tutorials. I have defined `TrainVarTransform` exactly as @david-berthelot did above.

The `SimpleModule` class defines a `TrainVar` and then uses an explicit transformation, and gives the correct gradients. `SimpleModuleTransform` instead uses `TrainVarTransform`, but gives incorrect gradients.

[code]

This runs, howeve

[2020-12-09 22:25] david-berthelot commented on #165
Okay I see what the problem is, the `.value` is used as a variable to be updated (like for example `.value += 0.5` which would not work if a transform is applied).

Instead, one could define a `.tvalue` property (for transformed, the name is unimportant):
[code]

That works but that's not very satisfying since now one has to use `.tvalue` instead of `.value`. So we cannot simply replace a `TrainVa

[2020-12-09 23:56] #139 closed

[2020-12-10 23:23] AlexeyKurakin commented on #109
I have run some preliminary experiments on conversion using jax2tf. It semi-works, however in certain cases hits JAX error.

Following example works:
[code]

However, attempt to re-run `predict_tf` one more time causes `UnexpectedTracerError: Encountered an unexpected tracer. Perhaps this tracer escaped through global state from a previously traced function.`. Which is probably related to the issu

[2020-12-10 23:54] david-berthelot commented on #109
I don't see how it could escape though, it looks like something specific to jax2tf somehow.
Otherwise the error would also show up when running `predict_op` twice (the JAX jitted one).

[2020-12-11 18:05] AlexeyKurakin commented on #109
I guess you're right. Maybe I have to add functional wrapper for jax2tf (similar to Jit, Grad, etc...). I'll look into this more

[2020-12-11 20:47] AlexeyKurakin commented on #109
After further investigation I made a version which seems to be working without issues:

[code]

It also could be saved and loaded as Tensorflow SavedModel.

Still need to do more testing of various corner cases.

[2020-12-12 01:06] #142 closed

[2020-12-14 08:05] david-berthelot opened #172 "Fix broken example: examples/text_generation/shakespeare_rnn.py"
[code]

[2020-12-14 09:59] david-berthelot opened #173 "MNIST tutorial bigger model does not converge"
When I tried rerunning it, the bigger model does not converge:
[code]
https://github.com/google/objax/blob/master/examples/tutorials/mnist-tutorial.ipynb

[2020-12-14 18:48] david-berthelot opened #174 "Provide an easy to way to generate moving average of a model."
Right now, the `objax.optimizer.ExponentialMovingAverage` is very generic as it only focuses on variables. Make an additional version `objax.optimizer.ExponentialMovingAverageModule` that handles 99% of use cases: take a model and return an EMA model of it.

[2020-12-15 01:11] #168 closed

[2020-12-15 01:11] #174 closed

[2020-12-15 06:47] aterzis-google commented on #173
I am not able to reproduce this. Here is what I get:

loss 0.6504083
loss 0.21322423
loss 0.16727123
loss 0.1530549
loss 0.13344146
loss 0.12683934
loss 0.11996455
loss 0.11438958
loss 0.10440791
loss 0.10162807
model accuracy 0.9919
Small weight ratio on layer (Sequential)[0](Conv2D).w 0.057499997
Small weight ratio on layer (Sequential)[2](Conv2D).w 0.54701173
Small weight ratio on layer (Sequen

[2020-12-15 07:35] david-berthelot commented on #173
Just upgrade jax etc... and I can't seem to see the issue anymore. Closing.

[2020-12-15 07:35] #173 closed

[2020-12-15 08:29] #134 closed

[2020-12-15 19:00] AlexeyKurakin opened #179 "Objax2Tf enhancements"
This issue is tracking progress on addressing some current limitations of `Objax2Tf` converter:

**1. Shape polymorphism.**

Right now saving `Objax2Tf` to Tensorflow SavedModel requires specification of shape of the input (including specific value for batch dimension). Shape polymorphism will allow us to use a `None` for batch dimension, so generated SavedModel could be used with any batch size.

[2020-12-15 19:01] AlexeyKurakin opened #180 "Objax2Tf in-depth guide or tutorial"
Write a tutorial explaining how to use `Objax2Tf` to convert Objax models to Tensorflow and save them to SavedModel for future production use.

[2020-12-15 19:02] AlexeyKurakin commented on #109
`Objax2Tf` converter is implemented.
There are some follow up improvement which will be tracked in other issues.

[2020-12-15 19:02] #109 closed

[2020-12-15 20:55] AlexeyKurakin commented on #165
Seems there are some solution for transformed var, which do not even require modifications of Objax code.
At this point I'm closing the issue.
@wil-j-wil  if you have any more questions feel free to reopen the issue.

[2020-12-15 20:55] #165 closed

[2020-12-16 00:16] #133 closed

[2020-12-16 18:40] david-berthelot opened #182 "Improve BatchNorm numerical stability"
Instead of computing variance as E[x^2] - E[x]^2, use E[(x - E[x])^2]

[2020-12-16 21:27] #182 closed

[2020-12-18 21:12] david-berthelot opened #187 "Create learning rate schedulers"
It would need a dedicated namespace, like `objax.schedule` for example (or a better name possibly).
We could have linear learning rate decay, cosine, multistep, etc...

Need feedback on what to offer.

[2021-01-05 19:38] #180 closed

[2021-01-05 21:46] AlexeyKurakin commented on #158
Here is a code snipped which encapsulates this example into unit test: https://github.com/google/objax/pull/189/files

This code snippet also includes fix "don't save tracer into stateVars". Unfortunately this is not correct fix and it lead to multiple failures in many unit tests.

The real problem here is not the fact that Tracers are saved into variables. Temporary saving tracers is actually nec

[2021-01-10 07:26] aterzis-google opened #190 "Raise warning when arguments to loss functions are not of the same dimensions"
Loss functions (https://objax.readthedocs.io/en/latest/objax/functional.html?highlight=loss#objax-functional-loss) take two arguments which should have the same dimensions. However the functions do not check whether the dimensions are the same and when they are not they calculate something other than what the user expects.

For example, consider the following function:

def loss(x, label):
  y_hat

[2021-01-12 22:29] JeremyNixon opened #191 "objax.Vectorize batch_axis argument for multiple arguments default must be adaptively sized."
At present the default is set for a single argument. If there are two arguments, ex:
objax.Vectorize(augment, objax.VarCollection())
batch_axis=(0) as a default leads to an error.
The default batch_axis must be set to , batch_axis=(0, 0) for two arguments, and in general have one 0 for each argument.

[2021-01-15 04:03] david-berthelot opened #192 "objax.Sequential stopped working with jax.numpy.pad in latest jax update"

[2021-01-15 06:59] #192 closed

[2021-01-20 01:14] schien1729 commented on #71
I think this is done with PR #194

[2021-01-20 01:14] #71 closed

[2021-01-29 21:42] AlexeyKurakin opened #197 "Prototype automatic tracing of variables used by a function"
Typically user has to specify list of variables used by a function:

[code]

The goal of the tracing is to automatically detect used variables, so the code could look like following:
[code]

[2021-02-03 09:42] bytbox opened #199 "Request: remove strict dependence on tensorflow"
This feels like borderline bikeshedding, but...

`tensorflow` is quite a heavy dependency. In particular, I can't install it using `pip`, right now, because I'm on archlinux running python 3.9, which TF doesn't yet (as of this writing) support.

As I understand, the tensorflow dependence introduced by ced0e704e is only for the objax2TF converter. If that was made optional, it would really be quite

[2021-02-03 09:53] david-berthelot commented on #199
Where is the tensorflow dependency?
It's not in the requirements.txt file: https://github.com/google/objax/blob/master/requirements.txt

If you're referring to the ones in docs, it's only for documentation building and shouldn't used when doing `pip install objax` unless I'm mistaken. Would you mind clarifying how this problem happens for you?

[2021-02-03 09:57] bytbox commented on #199
Ah, sorry. I thought the tensorflow dependence was deliberate, and didn't notice it wasn't in `requirements.txt`. There's an import line in `util/__init__.py` which fails when tensorflow is not installed.

[code]

[2021-02-03 11:32] david-berthelot commented on #199
Thanks, I've created a fix, it should be in tomorrow and I'll make a patch release that will contain it.

[2021-02-03 18:49] #199 closed

[2021-02-03 19:13] david-berthelot commented on #199
Release 1.3.1 is out with the patch.

[2021-02-21 22:15] vballoli commented on #187
Hi, I recently found objax and I'm looking to make some basic initial contributions to get familiar with. Can I implement the major schedulers? I had a small doubt regarding the implementation:

1. While objax is object-oriented, the examples include a functional scheduler? Should `objax.schedule` or `objax.optimizer.schedule` be a functional or a object-oriented approach ?

I have a draft impleme

[2021-02-23 20:46] AlexeyKurakin commented on #187
Pull request with work in progress: https://github.com/google/objax/pull/202

[2021-02-24 11:06] srxzr opened #204 "Jit error for static_argument in a custom jax function"
I implemented a custom activation layer which has a static argument, how should I pass the static_arguments to the objax.JIT ?

`
def select_topK(w,b,w_score,b_score,topk):
    values = jn.concatenate((w_score, b_score), axis=None)
    v,inds = lax.top_k(values,topk)
    thresh = v.min()
    return jn.where(w_score>thresh, w, 0), jn.where(b_score>thresh, b, 0)
`
and I have a custom layer, where I

[2021-02-27 00:21] AlexeyKurakin commented on #204
To clarify your question:
a) are you trying to JIT `select_topK` separately from the module where it's used?
b) have you tried to run `objax.Jit` on entire module?

Just by looking at your example I suspect that you have to JIT the Objax Module and static argnum should be an argument to `__call__` function of the module. Something like following:

[code]

[2021-03-12 22:03] #197 closed

[2021-03-12 22:06] AlexeyKurakin opened #206 "Improve automatic variable tracing"
Potential improvements:
* Trace function calls. For example if function `f` calls function `g` then variables which are used in `g` should be detected by tracing of `f`.
* Trace variables inside containers. For example if function `f` chooses some variable from a dictionary then this variable should be detected by auto traciing
* Add more tests

[2021-03-18 21:30] AlexeyKurakin opened #208 "If user won't add random generator to VarCollection of jitted code then same number always return by random generator"
Here is code example which demonstrates the issue:
[code]

The correct fix would be to add `DEFAULT_GENERATOR` variables to `VarCollection`:

[code]

The problem here is that it's not obvious for the user that random generator vars should be provided to Jit.
There are several possible fixes:

1. Improve documentation. In this case we still rely on users to carefully read documentation.
2. Always a

[2021-03-19 19:07] #208 closed

[2021-03-29 13:29] wil-j-wil opened #212 "Model compiling twice when using jax==0.2.10 or later"
Hi,

I recently updated JAX, and noticed that my runtime increased. I have managed to isolate the issue to be that my objax model is compiling itself twice, i.e., on the second training iteration the model seems to be recompiling for some reason. This only happens for JAX versions 0.2.10 or later.

Any idea what the cause of this may be?

I hope this toy example is clear enough. I am using objax==

[2021-03-30 18:04] AlexeyKurakin commented on #212
Hi,

I tried to run this code in colab (with `jax.__version__ = '0.2.11'` and `jaxlib.__version == '0.1.64'`) and I can not reproduce this behavior. I actually observe that second iteration is the fastest. Specifically, when I run code on CPU in Colab, the output is following:

[code]

If I run the code on GPU (you need to select `GPU` in `Runtime -> Change runtime type` menu) I see the following

[2021-03-30 18:23] AlexeyKurakin commented on #212
Few other general suggestions about the code you posted:

1. For better performance `opt` should be inside `train_op`, otherwise `opt` won't be compiled and be executed line by line instead. Here is example:
[code]

2. If you deal with Objax variables (TrainVar, StateVar, etc..) its better to avoid directly using `jax.vmap` because it may treat JAX variables as constants. Instead it's better to us

[2021-03-31 08:42] wil-j-wil commented on #212
Hi @AlexeyKurakin ,
Thanks a lot for the code tips, and apologies for the non-reproducible bug report.

https://colab.research.google.com/drive/13yKlZ1-fI_pIG3gt_J5WFuiEco1PkcYw?usp=sharing

Here is a colab notebook which shows the double-compile issue.

For the latest versions of jax and jaxlib, this gives
[code]

whereas running the line ```%pip --quiet install --upgrade jax==0.2.9 jaxlib==0.1.6

[2021-03-31 08:59] wil-j-wil commented on #212
I should also mention that I suspect there is some double-compiling going on because when I run much larger models with a similar setup, I have observed the ```Very slow compile?  If you want to file a bug, ...``` error twice for a single script (on each of the first 2 iterations).

[2021-03-31 10:00] wil-j-wil commented on #212
@AlexeyKurakin I also tried out your suggestions about using Vectorise rather than vmap, and now it seems like the model compiles on the first **three** iterations. I have checked this in google colab. Could we reopen the issue (I can't reopen myself)?

[code]

gives

[code]

[2021-03-31 17:06] AlexeyKurakin commented on #212
ok, let me debug it and then I get back to you

[2021-04-13 19:50] AlexeyKurakin opened #216 "Update Objax Basics tutorial to reflect .value change"
https://objax.readthedocs.io/en/latest/notebooks/Objax_Basics.html

We need to explicitly mention that `var.value` is the reference storing the JAX tensor, however `var` can be used directly in math expressions.

[2021-04-17 15:30] noashin opened #217 "Accessing variable of a vectorized module"
Hello, I would like to know if it is possible to access and change the values of variables of a module that is parallelized.
My use case is the following - I want to optimize the parameters of a kernel and I can compute exactly the derivative of the loss function with respect to the kernel parameters. I want to vectorize the kernel for faster computation, but I do not know how to access the value

[2021-04-20 19:46] AlexeyKurakin commented on #217
Generally speaking you can access all variables of any module by just calling `module.vars()`.
Is there any specific which prevent you from using `.vars()` method?

[2021-04-21 22:04] #216 closed

[2021-05-01 03:34] shenzebang opened #219 "objax.Jit reports error when StateVar is added to the vc argument"
Hello everyone, I am new to jax and I am encountering the following problem. Can someone please help me to resolve it?

When I add the StateVar to the vc argument of objax.Jit, it reports

Here is the relevant code:
[code]

[2021-05-03 21:01] AlexeyKurakin commented on #219
One issue I see in the code is mixing pure JAX function transformation (jax.vmap and jvp) with Objax object-oriented approach.
Usually this either does not work at all or works incorrectly.

Another issue - why do you need to do manual assignment of StateVars in variable collection (like `critic.vars().subset(is_a=StateVar).assign(svars_t)`)?

So I would suggest to refactor code, so all of the cod

[2021-05-03 23:45] shenzebang commented on #219
Hi Alexey,

Thank you for the information. How should I compute the gradient w.r.t. the input of the module using objax.Grad?
E.g. I want to compute the Jacobian vector product $\nabla_x(v * \nabla_x f(x) * v)$. Here f is a module that takes an n dimensional vector and time $t$ as input and output an n dimensional vector. $v$ is a fixed n dimensional vector.

I tried the following code (net is the

[2021-05-04 19:37] AlexeyKurakin commented on #217
Closing now because of inactivity

[2021-05-04 19:37] #217 closed

[2021-05-04 19:52] AlexeyKurakin commented on #219
`objax.Grad(div_net_fn, x_vc)` is a correct way to compute gradients of `div_net_fn` with respect to `x_vc`

The error which you see is cased by something else.
Recently we introduced duck typing of Objax variables which allow to use Objax variables in JAX expressions without typing `.value`. However one of the recent changes in JAX broke it so it does not always work at expected. The error which

[2021-05-04 19:54] AlexeyKurakin opened #220 "Regression of JAX duck typing."
When JAX variables are used without `.value` with jit, gradient and other transformation it leads to error `TypeError: Value Traced<...> with type <class 'jax.interpreters.partial_eval.DynamicJaxprTracer'> is not a valid JAX type`
This is a recent regression caused by some underlying changes in JAX

[2021-05-04 19:55] AlexeyKurakin commented on #220
Temporary workaround - either use `.value` or rollback to JAX version `0.2.10`

[2021-05-07 22:31] bytbox opened #221 "RecursionError when attempting to unpickle objax objects"
This is with objax-1.4.0, from PyPI. The problem does not occur with objax-1.3.1.

For example:
[code]

The error is coming from `loads`, not `dumps`. The resulting stack trace ends with:
[code]

[2021-05-11 23:26] AlexeyKurakin commented on #221
I think it's probably related to the fact that we added `__getattr__` method to variables which may cause issues when restoring from pickle.
Here is stackoverflow discussion related to `__getattr__` and pickle: https://stackoverflow.com/questions/49380224/how-to-make-classes-with-getattr-pickable

I think the fix would be to change how `value` property works in variables:

[code]

and possibly sim

[2021-05-12 21:19] bytbox commented on #221
This doesn't seem to work:
[code]

And indeed, if I print out `self.__dict__` the line before the `return` in `value()`, it's just empty.

However, I can fix the error by following that link a little more closely, and changing `BaseVar` to throw an `AttributeError` when `_value` is not available. That passes all tests and appears to fix this error. (But, I'm not super familiar with how objax inter

[2021-06-25 11:39] smao-astro opened #224 "How to compute Jacobian of outputs w.r.t. inputs"
Hi,

I am new to JAX and Objax, and I would like to compute the "partial derivative" of outputs w.r.t. inputs, below is a piece of code
[code]

The doc suggests do not mix JAX and Objax's transformation, and my question is:
1. I can not find a API in Objax do `jacfwd` or `jacrev`, so what is the standard way to calculate Jacobian?
2. Why mixing JAX and Objax is discouraged, is it always a bad idea

[2021-07-03 19:34] iamharsha1999 commented on #64
Can you delineate more on how exactly one could assign one particular model to another since the dimensions completely change ?

[2021-07-13 18:59] AlexeyKurakin commented on #224
1. Compute Jacobian.

You can reimplement object-oriented version of `jacfwd` or `jacrev` similarly how `objax.GradValues` is implemented.

Another option is to use combination of `objax.Vectorize` and `objax.GradValues`, in other words vectorize computation of gradient. DPSGD gradient module to some extend does it: https://github.com/google/objax/blob/c4785ff991f35dc1af5a68988e8a545d3304de90/obja

[2021-07-14 07:51] smao-astro commented on #224
I see, thank you for your explanation!

[2021-07-14 07:51] #224 closed

[2021-07-25 14:34] iamharsha1999 opened #225 "Activation functions like Swish and Mish are absent."
@AlexeyKurakin Hey activations such as mish and swish aren't available in objax.functional module. Would it be possible to add them like how they have done it with Pytorch ? (https://pytorch.org/docs/stable/generated/torch.nn.functional.mish.html#torch.nn.functional.mish)

[2021-07-26 20:10] #190 closed

[2021-07-26 20:24] AlexeyKurakin commented on #225
`objax.function` is mainly intended to be a wrapper for various JAX functions.
It seems like swish activation is available as a JAX primitive: https://jax.readthedocs.io/en/latest/jax.nn.html
So if you're welcome to make a pull request to add swish to `objax.function.activations`

[2021-08-04 17:57] #225 closed

[2021-10-14 15:06] chaoming0625 commented on #224
It is hard to implement object-oriented version of `jacfwd` or `jacrev`, because `jacfwd` or `jacrev` do not support return auxiliary data. Is there solution? Thanks!

[2021-10-26 07:59] ggbsjsy opened #228 "Error due to the deprecation of jax.api"
Hi objax team,

When I ran your [cifar10_advanced.py](https://github.com/google/objax/blob/d0aefeeb573fb366f2ee547f6869f2ca1b7ef284/examples/image_classification/cifar10_advanced.py), it raises an error due to the deprecation of `jax.api`.

Specifically, the following lines will trigger errors since jax has no attribute `api` anymore.
https://github.com/google/objax/blob/d0aefeeb573fb366f2ee547f68

[2022-01-06 01:02] #228 closed

[2022-02-07 09:26] gkaissis opened #234 "objax.Jacobian and objax.Hessian similar to objax.Grad"
It would be amazing to have a direct op to compute jacobians and hessians w.r.t. model parameters like we have for objax.Grad. I suppose that these would require an unreduced loss value (i.e. raise an exception if the loss value is scalar).
The Jacobian would then essentially be a stand-in for "per-sample" gradients. Understandably, the Hessian is probably not tractable from a memory point-of-view

[2022-02-16 00:13] sshkhr commented on #127
@david-berthelot Is there still interest in porting ViT to Objax examples? I am new to JAX and I'd be interested in adding Vit to the objax zoo (and examples)

[2022-02-23 22:52] AlexeyKurakin commented on #127
@sshkhr
It would be great if you can volunteer to do this.
As you mentioned, the model itself could be added to objax zoo, and training code to examples

[2022-02-24 06:50] sshkhr commented on #127
Sounds good @AlexeyKurakin! It will take me a few days to get started on this but I will send in a PR early next month with the model.

[2022-03-14 14:55] mathDR opened #235 "replacing jax.vmap with objax.Vectorize"
I am trying to replace using `jax.vmap` with `objax.Vectorize` (since [mixing these types of operations can cause problems](https://github.com/google/objax/issues/219#issuecomment-831531561) ) and am running into issues.  When the function I am calling `Vectorize` on is an `objax` module, everything works fine ([examples](https://github.com/google/objax/blob/d0aefeeb573fb366f2ee547f6869f2ca1b7ef28

[2022-03-14 19:21] AlexeyKurakin commented on #235
`objax.Vectorize` does require variable collection if you vectorizing callable. In your case `jnp.diag` does not use any variables, thus you can just pass empty variable collection which is created as `objax.VarCollection()`.

On top of it, by default `objax.Vectorize` will try to vectorize function over all arguments. `jnp.diag` has two arguments, first one is the input, second one `k` is an inte

[2022-03-14 19:22] AlexeyKurakin commented on #234
I'm actually going to add support for Jacobian and Hessian pretty soon

[2022-03-15 20:13] #235 closed

[2022-03-15 20:40] mathDR commented on #235
Thanks! This solved it. I guess I was surprised that I had to explicitly add default parameters (k=0). Appreciate the help!

[2022-03-16 17:21] mathDR opened #237 "Closure scoping for nested objax.Functions"
Hi, I am trying to optimize a list of Gaussian Process models, where I create an optimizer for each "model" in the list, then run the optimizer over a loop.

This is not working.  So I concocted an example that (if I can figure out how to do it) would illuminate a lot of what is wrong with my code.

I want to extend the `objax.Function()` [example](https://objax.readthedocs.io/en/latest/objax/obja

[2022-03-16 18:56] AlexeyKurakin commented on #237
Would something like following work:

[code]

another alternative:

[code]

See also example of how to make python loop works with closure:
* https://stackoverflow.com/questions/8946868/is-there-a-pythonic-way-to-close-over-a-loop-variable
* https://stackoverflow.com/questions/2295290/what-do-lambda-function-closures-capture

[2022-03-16 19:47] mathDR commented on #237
This is perfect.  Thanks!

[2022-03-16 19:47] #237 closed

[2022-03-18 16:48] AlexeyKurakin commented on #234
Hessian and Jacobian are merged into main branch.
I will also add Hessian vector product and Jacobian vector product some time soon

[2022-03-18 16:51] gkaissis commented on #234
Amazing!

[2022-05-29 17:47] a1302z opened #240 "ResNetV2 from model.zoo does not specify train arg for ResNetV2Block"
Hi, I tried to use resnet_v2.ResNet18, but get an error when using this model, as the ResNetV2Block expects a train arg in the __call__ function, which is not provided by the implementation.
As a minimal example:
[code]
This produces the following error:
[code]

Am I missing something here? If not I think one way to solve this would be to introduce a train() and eval() function, as in pytorch, whi

[2022-05-29 18:48] aterzis-google commented on #240
Alex,

Thank you for your interest in Objax!

You need an additional model(.., trainining=True/False) parameter. See the example in:

https://github.com/google/objax/blob/master/examples/image_classification/imagenet_resnet50_train.py

Hope this helps!

[2022-05-29 18:54] a1302z commented on #240
Thanks, I just figured it out. Sorry for the distraction and thanks for the answer :)

[2022-05-29 18:54] #240 closed

[2022-08-22 15:05] a1302z opened #245 "pmean inside objax.parallel causes multithreading deadlock for more than 2 gpus"
Hi,
I've noticed a problem, where I'd like to ask for your expertise. I'm not entirely sure if it is an objax problem or rather a Jax problem under the hood, but as it is triggered by objax commands I'll post it here.
# Description
In particular, when combining objax.Parallel and objax.functional.pmean (as done in [this tutorial](https://objax.readthedocs.io/en/latest/advanced/jit.html#parallelism

[2022-08-24 13:28] a1302z commented on #245
Quick update from my side: I've found a workaround that does not get stuck with more than two GPUs. However, it is extremely slow, much slower compared to a single GPU, probably caused by the repeated replicates.

[code]

[2022-08-29 08:56] yetiansh commented on #220
Hi, I have also encountered this issue when running HuggingFace T5 examples with Jax and Flax. Is there any updates?

[2022-09-08 21:03] AlexeyKurakin commented on #245
I am not entirely sure what could be the issue.
I did recently run Imagenet training code with `pmean` on a few v100 GPUs on a single machine without a problem.

It sounds like it some kind of bug of all-reduce / pmean.

I could only suggest either try different software/hardware configuration or try to reproduce this bug in pure JAX and report it to JAX team.

In pure JAX it could be something li

[2022-09-21 09:06] a1302z commented on #245
You are right; it indeed seems to be a driver issue. We've now booked some paperspace instances, and it works perfectly fine on those. If we find the exact reason, we'll post it here.